# =========================
# data / outputs
# =========================
data/
logs/
result/

# =========================
# python
# =========================
__pycache__/
*.pyc

# =========================
# pytorch
# =========================
.torch_kernel_cache/

# =========================
# vscode
# =========================
.vscode/

# =========================
# system
# =========================
.DS_Store
